.DS_Store
venv/
*.pyc
datasets/test
datasets/train
datasets/

.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf

.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml

# Test modules
fn_testing.py

# Test results
t0_results.csv

# Deprecated fn/modules
old_train_or_predict.py